@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

body{
    font-family: "Quicksand", sans-serif;
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
}

.main-header {
    background-color: #510a83;
    padding: 2rem;
    font-weight: 700;
    color: #fff;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content h1 {
 font-size: 3rem;
}

.header-sub p{
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
}

footer{
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #fff;
}

/* Textos */

.content-highlight{
    font-size: 1.3rem; 
    font-weight: 700;
    color:#510a83;
}

/* Botones home*/
.container-buttons{
    display: flex;
    height: 63vh;
    width: 65%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

.container-buttons a{
    text-decoration: none;
    padding: 40px;
    border: solid 2px #510a83;
    border-radius: 8px;
}

.container-buttons a:hover,
.character:hover{
    -webkit-box-shadow: -1px 8px 15px 1px rgba(35,0,35,0.29); 
    box-shadow: -1px 8px 15px 1px rgba(35,0,35,0.29);
}

.button-home{
    text-align: center;
}

.button-home p{
    color: #424242;
    font-weight: 700;
}

.section-title{
    text-align: center;
    font-size: 2.5rem;
}

.container-characters, .container-spells{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
}

.character, .spell{
    padding: 1rem;
    text-align: center;
    flex-basis: 22%;
    margin-bottom: 3em;
    border-radius: 20px;
}

.character:hover .btn-primary-hidden{
    visibility: visible;
}

.character img{
    height: 220px;
    width: 170px;
    object-fit: cover;
    border-radius: 10px;
}

.btn-primary-hidden{
    text-decoration: none;
    visibility: hidden;
} 

.btn-primary-hidden div{
    background-color: #510a83;
    padding: 1rem;
    width: 70%;
    margin: auto;
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
}

.btn-primary{
    text-decoration: none;
} 

.btn-primary div,
.btn-primary-pd div{
    background-color: #510a83;
    padding: 1rem;
    width: 150px;
    margin: auto;
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
}

.btn-primary-pd{
    display: block;
    margin-bottom: 5em;
}


.loader{
    margin:auto;
    text-align: center;
}

.character-details{
    text-align: center;
    padding: 1.5em;
}

.character-info{
    margin-top: 1em;
    font-size: 1.2rem;
}

.character-info span:first-child{
    color: #510a83;
    font-weight: 700;
}

.character-details .btn-primary{
    display: block;
    margin-top: 1em;
}

.spell{
    border: solid 1px #510a83;
    margin-left: 1em;
}


/* Responsive */ 

@media(max-width:1024px){
    .header-content{
        display: block;
        text-align: center;
    }

    .header-content h1 {
        font-size: 2rem;
    }
       
    .header-sub p{
        font-size: 1rem;
    }

    .container-buttons{
        display: block;
        height:68vh;
        width: 95%;
        margin: auto;
        text-align: center;
    }
    
    .container-buttons a{
        display: block;
        box-sizing: border-box;
        width: 60%;
        margin: 1rem auto;
        padding: 15px;
    }

    footer{
        padding: 0;
        text-align: center;
        position: relative;
        max-width: 320px;
        margin: auto;
        box-sizing: border-box;
        height: 40px;
        background-color: #fff;
    }

    .btn-primary-hidden{
        visibility: visible;
    }

    .character{
        -webkit-box-shadow: -1px 8px 15px 1px rgba(35,0,35,0.29); 
        box-shadow: -1px 8px 15px 1px rgba(35,0,35,0.29);
    }

    .spell{
        flex-basis: 50%;
        margin-left: 0;
    }
}